/*-------------
 	General
-------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
}


ul,
nav {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;

    opacity: 0.9;
}

a:hover {
    opacity: 1;
}

a.btn {
    color: #fff;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #2196F3;
    font-weight: 800;
    text-align: center;
}

p {
    font-family: 'Noto Sans KR', sans-serif;
}


hr {
    width: 150px;
    height: 2px;
    background-color: #2196F3;
    border: 0;
    margin-bottom: 80px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 125px 100px;
}

@media (max-width: 1000px) {

    section {
        padding: 100px 50px;
    }

}

@media (max-width: 600px) {

    section {
        padding: 80px 30px;
    }

}

.korean {
    font-family: 'Noto Sans KR', sans-serif;
}

.japanese {
    font-family: "Mplus 2px";
}

section h3.title {
    color: #f7f7f7;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

ul.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*-------------
 	Header
-------------*/

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 35px 100px 0;


}

header h2 {
    font-family: 'Quicksand', sans-serif;
}

header nav {
    display: flex;
}

header nav li {
    font-family: 'Quicksand', sans-serif;
    margin: 0 15px;
}

header nav li:first-child {
    margin-left: 0;
}

header nav li:last-child {
    margin-right: 0;
}



@media (max-width: 1000px) {
    header {
        padding: 20px 50px;
    }
}


@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }
}



/*----------------
 	Hero Section
----------------*/

.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #2196F3;
    z-index: -1;
}

.hero .background-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #494949;
    opacity: 0.75;
}

.hero h1 {
    font: bold 60px 'Quicksand', sans-serif;
    margin-bottom: 15px;
}

.hero h3 {
    font-family: 'Quicksand', sans-serif;

    margin-bottom: 40px;

}

.hero a.btn {
    padding: 20px 46px;
}

@media (max-width: 800px) {

    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h3 {
        font-size: 24px;
    }

    .hero a.btn {
        padding: 15px 40px;
    }

}




/*--------------------
 	Our Work Section
---------------------*/

#AboutMe {
    background-color: #242424;
}

.our-work h2 {
    color: #fff;
    margin-top: -15px;
    margin-bottom: 55px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

.our-work .grid li {
    padding-left: 60px;
    padding-right: 60px;
    height: 150px;
    border-radius: 3px;

    background-clip: content-box;
    background-size: cover;
    background-position: center;


}

.our-work .grid li div {
    align-items: center;

}

.our-work .grid li div p {
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    font-family: 'Quicksand', sans-serif;
}

.our-work .grid li div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.our-work .grid li div:hover img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}


.our-work .grid li div hr {
    width: 45px;
    height: 2px;
    background-color: #2196F3;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 15px;
}

#AboutMe .title {
    color: #fff
}

#AboutMe p {
    color: #f2f2f2
}


.our-work .grid li.small {
    flex-basis: 40%;
}

.our-work .grid li.large {
    flex-basis: 60%;
}


@media (max-width: 1000px) {

    .our-work .grid li.small,
    .our-work .grid li.large {
        flex-basis: 100%;
    }

}



/*----------------------
 	Features Section
----------------------*/

.features {
    background-color: #161616;
}

.features .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
}

.features .grid li i {
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4 {
    color: #d8d8d8;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p {
    margin: 0;
}

.features .title {
    color: #fff;
}


@media (max-width: 1000px) {

    .features .grid li {
        flex-basis: 70%;
        margin-bottom: 65px;
    }

    .features .grid li:last-child {
        margin-bottom: 0;
    }

}


.features .grid li img {
    margin-bottom: 10px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.features .grid li img:hover {
    margin-bottom: 10px;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

@media (max-width: 600px) {

    .features .grid li {
        flex-basis: 100%;
    }

}




/*--------------------
 	Spec Section
--------------------*/

.spec {
    background-color: #161616;
}

.spec .title {
    color: #fff;


}

.spec img {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.spec img:hover {

    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/*---------------------
 	Contact Section
---------------------*/

.contact {
    background-color: #262626;
}

.contact h3 {
    color: #f7f7f7;

}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 800px;
    width: 80%;
}

.contact form input {
    padding: 15px;
    flex: 1;
    margin-right: 30px;
    font-size: 18px;
    color: #f7f7f7;
}

.contact form .btn {
    padding: 18px 42px;
}


@media (max-width: 800px) {

    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }

}


.contact div {
    align-items: center;
}

.contact div p {
    background-clip: content-box;
    background-size: cover;
    background-position: center;
    font-family: 'Quicksand', sans-serif;
}

.contact div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.contact div:hover img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.contact div .line {
    width: 45px;
    height: 2px;
    background-color: #2196F3;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 15px;
}

/*--------------------
 	Reviews Section
--------------------*/

.reviews {
    background-color: #f7f7f7;

}

.reviews .title {
    font: bold 32px 'Open Sans', sans-serif;
    color: #000;
  

}

.reviews .quote {
    text-align: left;
    width: 30%;
    word-break: break-all;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

@media (max-width: 1000px) {
    .reviews .quote {
        text-align: left;
        width: 80%;
        word-break: break-all;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bold;
        font-size: 15px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 20px;
        padding: 0;
    }
}

.reviews .author {
    font-size: 18px;
    margin-bottom: 25px;
}

.reviews .author:last-child {
    margin-bottom: 0;
}


/* -- Demo ads -- */

@media (max-width: 1200px) {
    #bsaHolder {
        display: none;
    }
}
